<app-sidebar></app-sidebar>
<div class="w-full h-screen flex p-4 gap-x-4 mt-16 bg-[#F7F9FC]">
  <div class="lg:ml-56 md:ml-56 max-w-[125vh] w-[125vh]">
    <div class="p-4 border rounded-lg bg-white">
      <div class="p-toolbar-group-start">
        <nav class="flex" aria-label="Breadcrumb">
          <ol
            class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse font-medium"
          >
            <li class="flex items-center uppercase">municipalidad</li>

            <li class="flex items-center uppercase">
              <div class="flex items-center">
                <svg
                  class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
                ver municipalidad
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- SI HAY MUNICIPALIDAD -->
    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg p-4 bg-white mt-6 text-center"
      *ngIf="municipalidades && municipalidades.length > 0; else noData"
    >
      <div class="absolute top-2 right-2 gap-2 flex">
        <!-- BOTON EDITAR -->
        <button
          class="px-2 py-1 h-8 bg-blue-600 hover:bg-blue-700 rounded text-white"
          title="Editar"
          [routerLink]="[
            '/admin/municipalidades/editar-municipalidad',
            municipalidades[0].idMunicipalidad
          ]"
        >
          <i class="fa-solid fa-pen"></i>
        </button>
        <!-- BOTON ELIMINAR -->
        <app-boton-eliminar
          [elemento]="municipalidades[0]"
          (eliminado)="eliminar($event)"
        ></app-boton-eliminar>
      </div>
      <div class="flex justify-center">
        <img
          [src]="municipalidades[0].urlImagenes"
          alt="Imagen temporal"
          class="h-32 w-32"
        />
      </div>
      <h1 class="uppercase font-bold">
        {{ municipalidades[0].municipalidad }}
      </h1>
    </div>

    <!-- SI NO HAY MUNICIPALIDAD -->
    <ng-template #noData>
      <p>No hay datos disponibles para mostrar.</p>
    </ng-template>
  </div>
  <div
    class="h-full w-[300px] flex flex-col gap-y-4 rounded-lg lg:block md:hidden sm:hidden"
  >
    <app-panel-right></app-panel-right>
  </div>
</div>
